@import "../../../app/globals.scss";

.section{
    display: flex;
    flex-direction: column;
    gap: $padding-medium;
}

.section > div.section-title{
    display: flex;
    justify-content: space-between;
}
.section > div.section-cards{
    display: flex;
    flex-wrap: wrap;
    gap: $padding-medium;
    font-size: .9rem;
}